<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:include="layout/template"></th:block>
</head>
</head>
<body>
	<div class="container">
		
		<div style="margin: auto; margin: 20px;">
			<form class="form-horizontal" th:action="@{/buscar-por-nome}" method="get" >
		  		<div class="form-group row">                
                	<div class="col-sm-10">
                		<input type="text" class="form-control" placeholder="Buscar por nome" th:value="${nome}" name="nome">
                	</div>
                	<button type="submit" class="col-sm-1 btn btn-primary">Buscar</button>
            	</div>
			</form>
		</div>
		
		<div style="margin: auto; margin: 20px;">
			
		</div>
	
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome
                    	<a th:href="${'/ordenar-por-nome-crescente'}">
                    		<img th:src="@{/img/chevron-bottom.png}" />
                    	</a>
                    	<a th:href="${'/ordenar-por-nome-decrescente'}">
                    		<img th:src="@{/img/chevron-top.png}" />
                    	</a>
                    </th>
                    <th scope="col">Sobrenome</th>
                    <th scope="col">Email</th>
                    <th scope="col">Senha</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            	<tr th:each="funcionario : ${funcionarios}">
                    <th th:text="${funcionario.id}" class="font-weight-normal">ID</th>
                    <th th:text="${funcionario.nome}" class="font-weight-normal">Nome</th>
                    <th th:text="${funcionario.sobrenome}" class="font-weight-normal">Sobrenome</th>
                    <th th:text="${funcionario.email}" class="font-weight-normal">Email</th>
                    <th th:text="${funcionario.senha}" class="font-weight-normal">Senha</th>
                    <td><a th:href="${'/editar/' + funcionario.id}" class="btn btn-warning">Editar</a></td>
               	<!--  <td><a th:href="${'/remover/' + funcionario.id}" class="btn btn-danger">Remover</a></td> -->
               		<td><a data-toggle="modal" data-target="#myModal" th:href="${'/'}" class="btn btn-danger">Remover</a></td>
               		
               		<div class="modal fade" id="myModal">
	                    <div class="modal-dialog">
	                        <div class="modal-content">
	
	                            <!-- Modal Header -->
	                            <div class="modal-header">
	                                <h6 class="modal-title" th:text="${'Deseja remover o funcionário: ' + funcionario.nome + '?'}"></h6>
	                                <button type="button" class="close" data-dismiss="modal">&times;</button>
	                            </div>
	
	                            <!-- Modal footer -->
	                            <div class="modal-footer">
	                                <button type="button" class="btn btn-primary"
	                                    data-dismiss="modal">Close</button>
	                                <a th:href="${'/remover/' + funcionario.id}" class="btn btn-danger">Remover</a>
	                            </div>
	                        </div>
	                    </div>
                	</div>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>